button {
  border: none;
  color: white;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

button.load-more {
  background-color: #4caf50;
}

button.clear {
  background-color: #f44336;
}

section {
  display: flex;
  gap: 10px;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
